@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

body{
    background-color: cadetblue;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    color: blanchedalmond;
}

#debut{
    color: white;
    text-align: center;
    font-size: 50px;
}

#name{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

button{
    text-align: center;
    font-size: 30px;
}

#history{
    text-align: center;
    font-size: 3rem;
    font-family: 'Langar', cursive;
    color: blanchedalmond;
}